
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img   style="width: 100%; height: 400px;" src="https://www.ox.ac.uk/sites/files/oxford/styles/ow_large_feature/s3/field/field_image_main/CROP%20USE.jpg?itok=-sa43Cg7" >
        
      </div>
      <div class="carousel-item">
        <img style="width: 100%; height: 400px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREOO65KU4fWez_DIE-MO46QA3c6MH16G_I0g&s">
      </div>
      <div class="carousel-item">
        <img src="https://www.ox.ac.uk/sites/files/oxford/styles/ow_large_feature/s3/field/field_image_main/b_AllSoulsquad.jpg?itok=tTcH-5ix" style="width: 100%; height: 400px;" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
&nbsp;
<br><br>
  <div class="card" style="width: 18rem;margin-left: 8%; display: inline-block;">
    <div class="card-body">
      <h5 class="card-title">PHD Department</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">PHD</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; display: inline-block ;margin-left: 2%;">
    <div class="card-body">
      <h5 class="card-title">Commerce Department</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">MCA</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  
  <div class="card" style="width: 18rem; display: inline-block ;margin-left: 2%;">
    <div class="card-body">
      <h5 class="card-title">Science Department</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">B.Tech</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>


