
<section class="vh-350 gradient-custom">
    <div class="container py-5 h-50">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h1 class="mb-4 pb-2 pb-md-0 mb-md-5">Forgot  Password</h1>
              <form >
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="email" id="imageid" class="form-control form-control-lg"  #email required/>
                      <label class="form-label" for="imageid"> email</label>
                    </div>
                    <!-- <div class="alert alert-danger" *ngIf="email1.touched && email1.invalid">
                      <div *ngIf="email1.errors && email1.errors['required']">
                        <strong> Email is required</strong>
                      </div>
                    </div> -->

                    <div class="form-outline" >
                        <input type="date" id="imageid" class="form-control form-control-lg" #dob />
                        <label class="form-label" for="imageid"> Enter DOB</label>
                      </div>
                    
  
                  </div>
                  
                  
                  
                
                
  
             </div>
  
                <div class="mt-4 pt-2">
                   
                    <input class="btn btn-primary col-lg-5" type="button" value=" send OTP" (click)="getEmail(email.value,dob.value)"/>&nbsp;
                    <input class="btn btn-primary col-lg-5" type="button" value=" send URL" (click)="sendUrl(email.value,dob.value)"/>
                
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
  
  
  
        
      
    
  
  
         
  


